#btn_calc
{
    background-image: url('/assets/resources/cal.png');

}

#btn_puzz
{
   background-image: url('/assets/resources/puzzel.png');
}

#btn_task
{
    background-image:  url('/assets/resources/Task.png');
}