<style>
        #btn_calc
        {
        background-image: url('./assets/resources/cal.png');
        }

        #btn_puzz
        {
        background-image: url('./assets/resources/puzzel.png');
        }

        #btn_task
        {
            background-image:  url('./assets/resources/Task.png');
        }
</style>


<div class=" w-[100%] sm:w-[95%] h-[90%] mx-auto">
        <div class="mx-[10%] mt-[1%]" id="title">
            {{title}}
        </div>
        <div class="w-[100%] sm:w-[85%] h-auto  ml-auto flex flex-wrap  ">
            <a href="./calculadora" class="ml-5 mt-5">
            <div class="bg-black absolute h-[25vh] w-[20vw] opacity-40 hover:opacity-0 duration-200">
            </div>
            <div class="w-[20vw] h-[20vh] bg-slate-400   bg-contain bg-no-repeat bg-center " id="btn_calc">
            </div>
            <div class="w-[20vw] h-[5vh] bg-slate-200 capitalize flex justify-center items-center font-bold text-2xl text-slate-700 ">
                calculadora
            </div>
            </a>

            <a href="./puzzel" class="ml-5 mt-5">
                <div class="bg-black absolute h-[25vh] w-[20vw] opacity-40 hover:opacity-0 duration-200">
                </div>
                <div class="w-[20vw] h-[20vh] bg-slate-400 bg-contain bg-no-repeat bg-center " id="btn_puzz">
                </div>
                <div class="w-[20vw] h-[5vh] bg-slate-200 capitalize flex justify-center items-center font-bold text-2xl text-slate-700 ">
                    puzzel
                </div>
            </a>
            <a href="./task-admin" class="ml-5 mt-5">
                <div class="bg-black absolute h-[25vh] w-[20vw] opacity-40 hover:opacity-0 duration-200">
                </div>
                <div class="w-[20vw] h-[20vh] bg-slate-400  bg-contain bg-no-repeat bg-center " id="btn_task">
                </div>
                <div class="w-[20vw] h-[5vh] bg-slate-200 capitalize flex justify-center items-center font-bold text-2xl text-slate-700 ">
                    Task Admin
                </div>
            </a>

        </div>


        <!-- <div>
            <h1 class="text-2xl text-red-400">ngIF</h1>
            <button (click)="show = !show" class="border p-4 px-10 ] hover:bg-slate-200 duration-300 bg-slate-500">Action</button>
            <p class="text-cyan-600 text-justify" *ngIf="show ;else elseBlock">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, doloribus dicta. Ullam debitis vel maiores laborum doloremque, aperiam quaerat assumenda dignissimos totam saepe temporibus praesentium in nemo, rem voluptates? Animi!
            </p>

            <ng-template #elseBlock>
                <p>
                    Alternate text while primary text is hidden
                </p></ng-template>
            
        </div>

        <div class="mt-32 pb-20">
            <h1 class="text-2xl text-red-400  ">ngClass</h1>
            <button class="border p-4 px-10 ] hover:bg-slate-200 duration-300 bg-slate-500" (click)="txt_color = 'text-teal-600'">Action 2</button>
            <p class=" text-justify" [ngClass]="txt_color">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, doloribus dicta. Ullam debitis vel maiores laborum doloremque, aperiam quaerat assumenda dignissimos totam saepe temporibus praesentium in nemo, rem voluptates? Animi!
            </p>

            
        </div> -->
</div>
