<style>

.cat_img{

    background-image: url('./assets/resources/img_puzzel.jpg');
    border: white 2px solid;
}

#c1
{
    background-size: 400px 400px;
    background-position: 0% 0%;
}


#c2
{
    background-size: 400px 400px;
    background-position: 45% 0%;

}

#c3
{
    background-size: 400px 400px;
    background-position: 90% 0%;

}
#c4
{
    background-size: 400px 400px;
    background-position: 0% 45%;

}
#c5
{
    background-size: 400px 400px;
    background-position: 45% 45%;

}
#c6
{
    background-size: 400px 400px;
    background-position: 90% 45%;

}
#c7
{
    background-size: 400px 400px;
    background-position: 0% 90%;

}
#c8
{
    background-size: 400px 400px;
    background-position: 45% 90%;

}
#c9
{
    background-size: 400px 400px;
    background-position: 90% 90%;

}

/* .piece:nth-child(1)
{
    order: 1;
}
.piece:nth-child(2)
{
    order: 2;
}
.piece:nth-child(3)
{
    order: 3;
}
.piece:nth-child(4)
{
    order: 4;
}
.piece:nth-child(5)
{
    order: 5;
}
.piece:nth-child(6)
{
    order: 6;
}
.piece:nth-child(7)
{
    order: 7;
}
.piece:nth-child(8)
{
    order: 8;
}
.piece:nth-child(9)
{
    order: 9;
} */



</style>


<h1 class="w-[80%] mx-auto text-2xl font-light mt-5">Simple Puzzel</h1>
<div class="container w-full h-[80%] bg-slate-200 mx-auto mt-[2%] flex  justify-center items-center " id="asd">
    <div class="w-[400px] h-[400px] bg-slate-50 flex flex-row  flex-wrap" id="piece_cont">
            <div class="w-[33.333%] h-[33.333%] cat_img piece" id="c1">
            </div>
            <div class="w-[33.333%] h-[33.333%] cat_img piece" id="c2">
            </div>
            <div class="w-[33.333%] h-[33.333%] cat_img piece" id="c3">
            </div>
            <div class="w-[33.333%] h-[33.333%] cat_img piece" id="c4">
            </div>
            <div class="w-[33.333%] h-[33.333%] cat_img piece" id="c5">
            </div>
            <div class="w-[33.333%] h-[33.333%] cat_img piece" id="c6">
            </div>
            <div class="w-[33.333%] h-[33.333%] cat_img piece" id="c7">
            </div>
            <div class="w-[33.333%] h-[33.333%] cat_img piece" id="c8">
            </div>
            <div class="w-[33.333%] h-[33.333%] piece" id="c9">
            </div>
    </div>


    

</div>